node_modules

# Local env files
.env.local
.next

# macOS
.DS_Store

# Editor dirs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Build / cache
dist/
build/
coverage/
.cache/
.parcel-cache/
.turbo/
.eslintcache
out/

# Local env variants
.env.*.local

# Misc
*.tgz

